<%- include('partials/header.ejs') %>
<a href="http://localhost:8000/authors/create"> Crear nuevo (+) </a>
<div>
  <h1>Autores</h1>
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Nacimiento</th>
        <th>Defunción</th>
      </tr>
    </thead>
    <tbody>
      <% for(author of authors) { %>
      <tr>
        <td><%= author.id %></td>
        <td><%= author.name %></td>
        <td><%= author.lastName %></td>
        <td><%= author.dateOfBirth %></td>
        <td><%= author.dateOfDeath || "-" %></td>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>
<%- include('partials/footer.ejs') %>
