<%- include('partials/header.ejs') %>
<a href="http://localhost:8000/books"> &#60;-- Volver a Libros </a>
<h1>Crear Libro</h1>
<form action="/books" method="post">
  <div class="column">
    <label for="title">Titulo</label>
    <input type="text" name="title" id="title" />
  </div>
  <div class="column">
    <label for="yearOfPublication">Fecha de publicación</label>
    <input type="date" name="yearOfPublication" id="yearOfPublication" />
  </div>
  <div class="column">
    <label for="AuthorId">Autor</label>
    <select id="AuthorId" name="AuthorId" required>
      <option value="0" selected disabled>Seleccionar autor</option>
      <% for(author of authors) { %>
      <option value="<%= author.id %>"><%= author.name %></option>
      <% } %>
    </select>
  </div>
  <div class="column">
    <label for="GenreId">Genero</label>
    <select id="GenreId" name="GenreId">
      <option value="0" selected disabled>Seleccionar genero</option>
      <% for(genre of genres) { %>
      <option value="<%= genre.id %>"><%= genre.name %></option>
      <% } %>
    </select>
  </div>
  <div class="column">
    <label for="description">Descripcion</label>
    <textarea name="description" id="description"></textarea>
  </div>
  <button type="submit">Enviar</button>
</form>
<%- include('partials/footer.ejs') %>
